body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
form {
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
#Box{
    display: flex;
    justify-content: space-between;    
}
details{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
summary{
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
details[open] {
    padding: 0.5em;
}
details[open] summary{
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}